*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 패딩 포함 크기 계산 */
}
.bg{
    background: rgb(10, 20, 40);
}
.wrap{
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

.header{
    width: 1200px;
    position: fixed;
    height: 80px;
    background: rgb(10, 20, 40);
    box-sizing: border-box;
    z-index: 10;
}
.square{
    width: 1200px;
    padding: 20px;
    background: rgb(10, 20, 40);
    position: relative;
    margin: 0px;
}
header>ul>li {
    height: 80px;
    width: 180px;
    list-style: none;
    display: flex;
  align-items: center;    /* 세로 가운데 */
  justify-content: center; /* 가로 가운데 */

}
nav>ul>li a{
    color:white;
    width: 250px;
    display: block;
    text-decoration: none;
    background: rgb(10, 20, 40);
    padding: 10px 80px;

}
header ul {
    display: flex;
    justify-content: space-between; /* 양 끝에 배치 + 균등 간격 */
    align-items: center;           /* 세로 가운데 정렬 */
    list-style: none;
    padding: 0px;

}
.body{
    width: 1200px;
    height: 2815px;
}
#logo{
    width: 40px;  
    height: 50px;  
    object-fit: cover; 
}

.hero{
    position: relative;
    width: 1200px;
    height: 900px;
    overflow: hidden;

    /* 텍스트와 로고 가운데로 가게하는 작업 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.hero-text{
    position: absolute;
    z-index: 2;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.playstyle{
    position: relative;
    width: 1200px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playstyle video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.playstyle-text{
    position: absolute;
    z-index: 2;
    font-size: 30px;
    color: white;
    text-align: center;
}
.playstyle-text p{
    font-size: 20px;
}

.playstyle1{
    padding: 50px;
    background: rgb(10, 20, 40);
    text-align: center;
    color: white;
}
.playstyle1-header{
    margin-bottom: 50px;
}
.playstyle1-title{
    font-size: 60px;
    margin-bottom: 15px;
}
.playstyle1-description{
    font-size: 20px;
}
.playstyle1-main{
    display: flex;
    justify-content: space-between; /* 양쪽 이미지 */
    gap: 30px;
    flex-wrap: wrap;
}
.playstyle1-item{
    display: flex;
    flex-direction: column;         /* 이미지 위 텍스트 아래 */
    align-items: center;
    width: 48%;
}
.playstyle1-img{
    width: 300px;
    height: auto;
}
.playstyle1-title1{
    margin: 20px 0; 
}
.playstyle1-title2{
    margin: 20px 0;
}

.playstyle2{
    padding: 50px;
    background: rgb(10, 20, 40);
    text-align: center;
    color: white;
}
.playstyle2-header{
    margin-bottom: 50px;
}
.playstyle2-title{
    font-size: 60px;
    margin-bottom: 15px;
}
.playstyle2-description{
    font-size: 20px;
}
.playstyle2-main{
    display: flex;
    justify-content: space-between; /* 양쪽 이미지 */
    gap: 30px;
    flex-wrap: wrap;
}
.playstyle2-item{
    display: flex;
    flex-direction: column;         /* 이미지 위 텍스트 아래 */
    align-items: center;
    width: 48%;
}
.playstyle2-img{
    width: 300px;
    height: auto;
}
.playstyle2-title1{
    margin: 20px 0; 
}
.playstyle2-title2{
    margin: 20px 0;
}

.main3{
    width: 1200px;
    background: rgb(10, 20, 40);
    height: 802px;
    
}
.blank{
    width: 1200px;
    height: 135px;
    background: rgb(10, 20, 40);
}
.footer{
    width: 1200px;
    background: rgb(10, 20, 40);
    height: 400px;
    box-sizing: border-box;
}
#footer_team{
    width: 1200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}
.footer_blank{
    width: 1200px;
    background: rgb(10, 20, 40);
    height: 150px;
}
